* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
}

.left,
.right {
  flex: 50%;
}

.left {
  background-color: lightskyblue;
  border-radius: 0 170px 170px 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.don {
  text-align: center;
  margin-top: 10px;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register button {
  padding: 10px 35px;
  border-radius: 5px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  margin-top: 10px;
}

.register button:hover {
  background-color: #fff;
  color: lightskyblue;
  font-weight: 500;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.right-user,
.right-pass {
  background-color: lightgray;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right input {
  width: 100%;
  outline: none;
  border: 0;
  background-color: lightgray;
}

.right input:active {
  border: 0;
}

.forgot {
  text-align: center;
}

.forgot a{
    text-decoration: none;
    color: black;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  background-color: lightskyblue;
  color: #fff;
  padding: 10px 100px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button button:hover{
    background-color: #fff;
    color: lightskyblue;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.login {
  margin-top: 20px;
  margin-bottom: 20px;
}

.links button {
  font-size: 20px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
